<!DOCTYPE html>
<html data-theme="retro">
    <head>
        <title>Choose Your Character!</title>
        <link rel="icon" type="image/x-icon" href="AllianceFavicon.png">
        <link rel="stylesheet" href="output.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <%- include('header', {}); %>

    <body>

        <div class="drawer lg:drawer-open h-[calc(100vh-68px)]">
            <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col items-center justify-center">
              <!-- Page content here -->
              
              <div class="carousel w-full overflow-auto">
                
                <div id="slide1" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background2.jpg" class="w-full object-cover" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide4" class="btn btn-circle btn-secondary">❮</a> 
    
                    <div class="hero min-h-[calc(60vh)] bg-base-200">
                      <div class="hero-content md:flex-col flex-row-reverse">
                        <!-- <img src="weaponicon.png" class="max-w-sm rounded-lg shadow-2xl" /> -->
                        <div>
                          <h1 class="text-5xl font-bold">Classes</h1>
                          <p class="py-6">Classes are categories that help describe your character's natural talents. Whether it be weapons, stealth, magic, or coin, choosing the right class can help your character achieve their goals.</p>
                        </div>
                      </div>
                    </div>
    
                    <a href="#slide2" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div> 
    
                <div id="slide2" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background3.jpg" class="w-full object-cover" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide1" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content md:flex-col flex-row-reverse">
                        <img src="weaponicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Fighter</h1>
                          <p class="py-6">Fighters take naturally to the physical combat arts and rely mainly on strength and stamina to accomplish their goals. They can wear any type of armor and can learn a number of interesting battle skills to aid them with their chosen weapons. If being on the frontline and bashing in the enemy is what you want, this class will give you the most power to accomplish that goal.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/fighters" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide3" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div> 

                <div id="slide3" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background4.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide2" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="clawicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Scout</h1>
                          <p class="py-6">The swashbuckling Scout can learn both fighting and rogue skills easily and so tends to become an expert at damage from any direction. They may not be able to do as much as Fighters and Rogues at their level but versatality can make up for that. Scouts can avail themselves of skills available to rogues at a reasonable price and at the same time learn basic fighting skills which can be useful, making them a threat from front and back.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/scouts" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide4" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div> 

                <div id="slide4" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background5.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide3" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="stealthicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Rogue</h1>
                          <p class="py-6">Rogues have a natural bent towards dexterity based skills. The lower Body Points, lighter armor and relatively high costs for combat skills does not make them well suited for front line combat roles, but Rogues always find a way to make up for this injustice. If you wish to play a sneaky, backstabbing, and cunning character, this is the class for you.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/Rogues" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide5" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div>

                <div id="slide5" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background6.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide4" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="weaponicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Adept</h1>
                          <p class="py-6">When it comes to skills required to get a task done, the Adept is most likely to use the fastest and most expedient means available. Their ability to cast spells, use alchemy, backstab, and use many other skills makes them very, well, adept in adventuring. They are most successful when using a combination of spellcasting and backstabbing.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/adepts" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide6" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div>

                <div id="slide6" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background7.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide5" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="magicicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Scholar</h1>
                          <p class="py-6">Scholars are good at many mental skills and the magical arts. You will find Scholars in the midst of battle throwing their spells, on the outskirts healing those in need, and deep in study in the guilds researching arcane texts and documents. Scholars cannot wear heavy armor, and weapon skills are difficult for them, but for sheer spell power, none can compare.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/scholars" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide7" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div>

                <div id="slide7" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background8.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide6" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="swordicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl sm:text-3xl font-bold">Spellsword</h1>
                          <p class="py-6">Spellswords are spellcasting fighters who can use a weapon as easily as they can throw a spell. Their combat training leaves them better able to fight but takes away from their studies. Spells are a bit harder for them than Scholars and weapons a bit harder for them than Fighters, but at higher levels, Spellswords are a good match for either of those two classes.</p>
                          <button class="btn btn-primary"><a href="https://rules.alliancelarp.com/spellswords" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide8" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div>

                <div id="slide8" class="carousel-item relative w-full h-[calc(100vh-68px)]">
                  <img src="background9.jpg" class="w-full" />
                  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide7" class="btn btn-circle btn-secondary">❮</a> 

                    <div class="hero min-h-[calc(60vh)] bg-base-200 sm:overflow-scroll sm:max-h-[calc(80vh)]">
                      <div class="hero-content flex-col lg:flex-row-reverse">
                        <img src="scalesicon.png" class="max-w-sm md:max-w-[calc(10rem)] rounded-lg shadow-2xl" />
                        <div>
                          <h1 class="text-5xl font-bold">Artisan</h1>
                          <p class="py-6">The Artisan class is exceptionally tuned to the manufacturing and sale of trade items. The Artisan has power not through spells or weapons but through wealth. Artisans do not excel in weapon use or spellcasting, but can be excellent merchants, craftsmen, and pure alchemists.</p>
                          <button class="btn btn-primary"><a href="https://alliancelarp.com/player-resources/" target="_blank">More Information</a></button>
                        </div>
                      </div>
                    </div>

                    <a href="#slide1" class="btn btn-circle btn-secondary">❯</a>
                  </div>
                </div>
              </div>

            
            </div> 

            <!-- sidebar -->
            <div class="drawer-side h-[calc(100vh-68px)]">
              <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
              <ul class="menu p-4 w-1/8 min-h-full bg-accent text-base-content">
                <!-- Sidebar content here -->
                <li><a href="#slide2">Fighter</a></li>
                <li><a href="#slide3">Scout</a></li>
                <li><a href="#slide4">Rogue</a></li>
                <li><a href="#slide5">Adept</a></li>
                <li><a href="#slide6">Scholar</a></li>
                <li><a href="#slide7">Spellsword</a></li>
                <li><a href="#slide8">Artisan</a></li>
              </ul>
            </div>
          </div>

        
        
    </body>

</html>
