<div class="navbar sticky top-0 z-50 bg-neutral text-neutral-content">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Character Info Center</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>
              Links
            </summary>
            <ul class="p-2 bg-neutral text-neutral-content">
              <li><a href="/races">Races</a></li>
              <li><a href="/classes">Classes</a></li>
              <li><a href="/quiz">Character Quiz</a></li>
            </ul>
          </details>
        </li>
        <li><a href="https://alliancelarp.com/">Alliance LARP</a></li>
      </ul>
    </div>
  </div>