<!-- <h1>You should try being a <%= finalRace %> and a <%= finalClass %>!</h1> -->

<!DOCTYPE html>
<html data-theme="retro">
    <head>
        <title>Choose Your Character!</title>
        <link rel="icon" type="image/x-icon" href="AllianceFavicon.png">
        <link rel="stylesheet" href="output.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <%- include('header', {}); %>

    <body class="h-screen overflow-hidden indexpage">


        <div class="carousel w-full overflow-auto">
            <div id="slide1" class="carousel-item relative w-full h-[calc(100vh-68px)]">
              <div class="absolute w-full grid-cols-2 grid gap-4 transform -translate-y-1/2 left-5 right-5 top-1/2">

                <div class="card w-96 bg-base-100 shadow-xl lg:w-[calc(50vw-40px)] sm:w-[calc(100vw-40px)] lg:h-[calc(50vh)] sm:mt-[calc(80vh)] sm:col-span-2 sm:col-start-1">
                  <!-- <figure class="px-10 pt-10">
                    <img src="swordicon.png" alt="Shoes" class="rounded-xl"/>
                  </figure> -->
                  <div class="card-body items-center text-center">

                    <% switch(finalRace) {
                      case "biata" : %>
                      <h2 class="card-title">Biata</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you the thoughtful, take-charge type, someone who embraces responsibility and self-expression?<br>Try playing as a biata!<br>These feathered friends of Fortannis tend to be a bit serious in personality, and they make driven adventurers and capable leaders.<br>They have amazing unique powers as keepers of memory and are well-suited to a wide variety of play styles.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide2" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "dryad" : %>
                      <h2 class="card-title">Dryad</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Do you a creative type who loves long walks in the woods? Do you enjoy the serene, yet uncontrollable wildness of nature and have the personality to match?<br>Try playing as a Dryad!<br>This race is very much in tune with nature and exhibit a slightly plant-like appearance.<br>Dryads have resourceful free spirit personalities, and tend to be especially skilled at alchemy.</p>
                      </div>
                      <div class="card-actions">
                        <a href="/races/#slide4" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "elf" : %>
                      <h2 class="card-title">Elf</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you a patient person, always striving to improve yourself?<br>Consider being an elf!<br>This long-lived race is confident and clever. They pride themselves on the strength of their minds and have a special talent toward archery, allowing them to be valuable support in a fight.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide6" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "highOrc" : %>
                      <h2 class="card-title">High Orc</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>You view yourself as strong and determined, and you enjoy proving yourself. Are you looking forward to being on the front lines of a great battle?<br>Try being a High Orc!<br>High Orcs embrace challenge and conflict, and are exceptionally tough and worthy friends. Though they are less inclined towards magic, their mastery of weapons is admired by all.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide8" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "human" : %>
                      <h2 class="card-title">Human</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>You are a type of person people tend to like. You have a tendency to be level-headed, adaptable, and hospitable, and that tendency serves you well.<br>Consider playing a human!<br>Humans are the race that ties the world of Fortannis together. They learn skills to fit any challenge, and tend to get along well with the other races, making them particularly excellent negotiators, leaders, and hosts of all kinds.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide10" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "selunari" : %>
                      <h2 class="card-title">Selunari</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>You are an exceptionally warm and caring personality, and you take particular pride in caring for those people who are closest to you most of all.<br>Consider being a Selunari.<br>These kind and caring people are especially in tune with the stars, and enjoy wandering around to new and exciting places. Their loyalties are strong, and focused on a large network of chosen family, whether it be fellow Selunari, or their closest friends. </p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide12" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "sylvanborn" : %>
                      <h2 class="card-title">Sylvanborn</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you lively and creative, the life of the party, with a love of trying out new skills and experiences?<br>Try playing a Sylvanborn!<br>This horned, pointy-eared race values freedom above all, and they use their exceptionally long lives to learn and experience all the world has to offer. They have a strong will, and pride themselves on never bending to authority or manipulation.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide14" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "darkElf" : %>
                      <h2 class="card-title">Dark Elf</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you a quiet and thoughtful personality and perhaps a bit of a night owl? Do you have an appreciation for art and beauty?<br>Try playing as a Dark Elf!<br>This type of elf enjoys all things elegant and refined and prefers a thoughtful approach when solving problems. They prefer the soft light of the moon to harsh daylight and make the best companions on late-night adventures.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide3" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "dwarf" : %>
                      <h2 class="card-title">Dwarf</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you tough, but loyal? Do you enjoy creating things and are proud of the skills you’ve learned?<br>Try playing as a Dwarf!<br>This bearded race prides themselves on their abilities, loyalty, and allegiances. They are down-to-earth, very passionate, and will never hesitate to defend the honor of themselves and their friends. When they are your friend, you have a friend for life.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide5" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "highOgre" : %>
                      <h2 class="card-title">High Ogre</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you strong-willed, determined, and focused on achieving your goals, against all odds?<br>Try playing as a High Ogre!<br>These tusked people are among the strongest in Fortannis, and they use that strength and determination to protect their world from the threat of evil necromancy. They are extremely goal-oriented and will use any means necessary to achieve what they set their minds to.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide7" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    case "hobling" : %>
                      <h2 class="card-title">Hobling</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Do you pride yourself on your smarts? Do you enjoy gadgets, discovering new things, and the quiet comfort of an excellent meal?<br>Try playing as a Hobling!<br>This group enjoys thinking about the “big picture”, and are more inclined to analyze and plan to avoid a problem altogether than to rush to fight. They enjoy material things, with a preoccupation with finding the most valuable trinkets or creating the most unique gadgets. Their tendency towards problem solving makes them excellent engineers, merchants, and strategists.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide9" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                      case "oathsworn" : %>
                      <h2 class="card-title">Oathsworn</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Do you pride yourself on always keeping your promises? Are you driven and determined to do the right thing, no matter the cost?<br>Try playing as an Oathsworn!<br>What this group has in common, besides the stone-like growths on their heads, is a sworn duty to protect the people of Fortannis from outside threats. They are honest, reliable, loyal, and pride themselves on those traits most of all. They may at first seem a bit stubborn and hard-headed, but they are among the most determined fighters out there.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide11" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                      case "stoneElf" : %>
                      <h2 class="card-title">Stone Elf</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you the logical type? Do you pride yourself on being level-headed even in the most chaotic circumstances?<br>Try playing as a Stone Elf!<br>These elves may at first seem cold and aloof, but they are among the most level-headed people in Fortannis. They are highly disciplined and value self control over impulsiveness. Stone elves seek to learn the truth about things, enjoying thorough study about what piques their curiosity. Along with these traits, they have the unique ability to manipulate the emotions of others, and help protect them from the effects of mind control.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide13" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                      case "wylderkin" : %>
                      <h2 class="card-title">Wylderkin</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>Are you an adaptable, creative, and resourceful person? Do you like animals?<br>Try playing as a Wylderkin!<br>This group consists of a wide variety of people with both humanoid and animal features and talents. Living between the wild and civilized worlds, they often feel like outsiders, but they don’t let that stop them from adapting to wherever they find themselves. They come in many different types, like wolves, cats, moths, or squids.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide15" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                      case "npc" : %>
                      <h2 class="card-title">NPC</h2>
                      <div id="resultdiscription" class="overflow-hidden max-h-52">
                      <p>You’re a unique type. You enjoy a wide variety of experiences, and you love to experiment. You are clever and adaptable, and you are a team player.<br>Try being an NPC!<br>As an NPC, you are the greatest asset in the game. You might like to try being be a terrifying necromancer, a lovable shopkeep, a wisecracking skeleton, or all of the above. Enjoy experiencing a wide variety of roles and help tell an amazing story.</p>
                    </div>
                      <div class="card-actions">
                        <a href="/races/#slide16" class="btn btn-primary">Learn More!</a>
                      </div>
                      <% break;
                    } %>
                    
                  </div>
                </div>

                <div class="card w-96 bg-base-100 shadow-xl lg:w-[calc(50vw-40px)] sm:w-[calc(100vw-40px)] lg:h-[calc(50vh)] sm:col-span-2 sm:col-start-1">
                  <!-- <figure class="px-10 pt-10">
                    <img src="swordicon.png" alt="Shoes" class="rounded-xl"/>
                  </figure> -->
                  <div class="card-body items-center text-center">
                    <% switch(finalClass) {
                      case "scholar" : %>
                        <h2 class="card-title">Scholar</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Do the mysteries of the arcane excite and intrigue you?<br>Try being a Scholar!<br>This class encompases all those who primarily focus on magic spells and other such abilities. Highly adaptable, a player with this class can utilize skills for offense, defense, or support, depending on their play style.</p>
                      </div>
                        <div class="card-actions">
                          <a href="/classes#slide6" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "spellsword" : %>
                        <h2 class="card-title">Spellsword</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Do you like swords, but with a bit more… zing?<br>Try being a Spellsword!<br>A cross between a Fighter and Scholar, this class enjoys the reliability of a physical weapon with the adaptability of being able to use spells as well. </p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide7" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "fighter" : %>
                        <h2 class="card-title">Fighter</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Do you enjoy facing challenges head-on, proving your strength and skill on the battlefield?<br>Try being a Fighter!<br>This class is the best at front-line combat. Fighters are invaluable in battles, and they use their skills, strength, and armor to fight against impossible odds.</p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide2" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "scout" : %>
                        <h2 class="card-title">Scout</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Do you like using a weapon, but like the freedom to change your strategy at will?<br>Try being a Scout!<br>A cross between a Rogue and a Fighter, the Scout has a talent for combat, but utilizes abilities that can be used for both front-line combat and backstabbing, making them a unique threat in a fight.</p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide3" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "rogue" : %>
                        <h2 class="card-title">Rogue</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Is the direct approach too boring? Do you find it much more fun to catch your enemies by surprise?<br>Try being a Rogue!<br>This class has a preference for dexterity, mobility, and stealth, and excel when attacking an enemy from behind. Their cunning and unique strategies often help to turn the tide in battle.</p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide4" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "adept" : %>
                        <h2 class="card-title">Adept</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Do you embrace an eclectic mix of skills, with a “whatever it takes to get the job done” mentality?<br>Try being an Adept!<br>A cross between a Rogue and a Scholar, this class is a unique mix of incredibly useful skills, including combat and magic. Chances are, if you are in a tricky situation, an Adept might have just the trick to get you out of a jam.</p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide5" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "artisan" : %>
                        <h2 class="card-title">Artisan</h2>
                        <div id="resultdiscription" class="overflow-hidden max-h-52">
                        <p>Are you less interested in the fights on the battlefield than in the conflicts behind the scenes?<br>Try being an Artisan!<br>Artisans have very little skill in combat, and instead use their expertise to craft items of all kinds. They are especially well-suited to gain their influence through wealth. After all, as they say, “Money talks.”</p>
                        </div>
                        <div class="card-actions">
                          <a href="/classes#slide8" class="btn btn-primary">Learn More!</a>
                        </div>
                      <% break;
                      case "npc" : %>
                        <img src="npc2.jpg" alt="npcs" class="object-scale-down max-h-72">
                      <% break;
                    } %>

                  </div>
                </div>

          </div>
        
    </body>

</html>